@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

/* variables */
:root {
  --main-color: #161a1d ;
  --second-color: #f5f3f4;
}

/* resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Kanit', sans-serif;
}

